img {
    float: right;
    width: 300px;
    border-radius: 30px;
    padding: 15px;
}
#date {
    float: right;
}
#main {
    background-color: rgb(228, 225, 225);
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;

}
